---
title: Blog
permalink: /blog/
---
<stack>
  <% site.posts.docs.sort_by{ _1.data.id }.reverse.each do |post| %>
    <a class="card-media" href="<%= url_for post %>">
      <card-body>
        <card-title>
          <%= post.data.title %>
        </card-title>
        <% if post.data.description %>
          <card-content>
            <%= post.data.description %>
          </card-content>
        <% end %>
        <card-footer>
          <time class="block text-sm text-gray-600 dark:text-gray-400" datetime="<%= post.data.updated_at %>">
            Published: <%= date_to_string post.data.published_at, "ordinal", "US" %>
          </time>
        </card-footer>
      </card-body>
    </a>
  <% end %>
</stack>
