<div class="mb-10">
  <%= render Heading.new(as: :h1, size: :lg, class: "m-0 mb-3") do %><%= title %><% end %>
  <% if rich_description? || description || description_html %>
    <%= render Text.new(variant: :lead) do %>
      <% if rich_description? %>
        <%= rich_description %>
      <% elsif description_html %>
        <%== description_html %>
      <% else %>
        <%= description %><% if description_link? %>
          <%= render Link.new(href: description_link_href, variant: :inline_accent) {
            description_link_label
          } %>.
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
