---
name: Interview Card
description: A Interview card component
---

<div class="py-6 border-t border-gray-400 sm:py-8 lg:py-10">
  <div class="items-center justify-between lg:flex">
    <div>
      <h3 class="text-gray-900 sm:text-lg lg:text-xl">
        <a class="hover:underline" href="{{ interview.link }}">
          {{ interview.name }}
          <span class="text-gray-700">{{ interview.title }}</span>
        </a>
      </h3>
      <div class="flex mt-2 text-sm text-gray-700 sm:text-base lg:text-lg sm:mt-3 lg:mt-3">
        <div>
          <span class="italic">with</span>
          <a class="hover:underline" href="{{ interview.host.link }}">{{ interview.host.name }}</a>
        </div>
        <div class="mx-3 text-gray-500">•</div>
        <div>{{ interview.date | date: "%B %d, %Y" }}</div>
      </div>
    </div>
    <div class="flex flex-wrap mt-2 text-sm text-gray-900 sm:text-base lg:text-lg sm:mt-3 lg:mt-0">
      <div class="lg:ml-8">
        <a class="flex items-center group" href="{{ interview.link }}">
          {% svg images/podcast.svg width=24 class="w-6 h-6" %}
          <div class="mt-px ml-2 lg:hidden">Listen to this episode</div>
        </a>
      </div>
    </div>
  </div>
</div>
