---
name: Project Card
description: A Project card component
---

{%- if link -%}
  {% assign url = link %}
{%- else -%}
  {% assign url = github %}
{%- endif -%}

<div class="py-2 border-t border-gray-400">
  <div class="items-center justify-between lg:flex">
    <div>
      <h3 class="text-gray-900 sm:text-lg lg:text-xl">
        <a class="hover:underline" href="{{ url }}">{{ name }}</a>
      </h3>
      {%- if description -%}
      <div class="flex mt-2 text-sm text-gray-700 sm:text-base lg:text-lg sm:mt-3 lg:mt-3">
        {{ description }}
      </div>
      {%- endif -%}
    </div>
    <div class="flex flex-wrap mt-2 text-sm text-gray-900 sm:text-base lg:text-lg sm:mt-3 lg:mt-0">
        {%- if link -%}
          <a class="flex items-center group hover:underline" href="{{ url }}">
            {% svg images/open.svg width=24 class="w-6 h-6" %}
            <div class="mt-px ml-2 lg:hidden">Check out this project</div>
          </a>
        {%- endif -%}
        {%- if github -%}
          <a class="ml-2" href="https://github.com/{{ github }}">
            {% svg images/github.svg width=24 class="w-6 h-6" %}
          </a>
        {%- endif -%}
    </div>
  </div>
</div>
