<!doctype html>
<html lang="en-us">
  <%= render "head" %>
  <body class="flex flex-col min-h-screen w-full antialiased <%= class_map "debug-screens": Bridgetown.env.development? %>">
    <a href="#main" class="sr-only">skip to main content</a>
    <%= render "nav", links: site.data.links.select { |l| l if l.nav } %>
    <%= render "alert" %>
    <main class="flex-1 w-full px-4 mt-16" role="main" id="main">
      <%= yield %>
      <%= render "newsletter" %>
    </main>
    <%= render "footer" %>
    <script data-turbo="false">
      (function() {
          var cssFa = document.createElement('link');
          cssFa.href = '<%= absolute_url "styles/syntax.css" %>';
          cssFa.rel = 'stylesheet';
          cssFa.type = 'text/css';
          document.getElementsByTagName('head')[0].appendChild(cssFa);
      })();
    </script>
  </body>
</html>
