<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title page %></title>
    <%= render "preloads" %>
    <%= render "meta" %>
    <link rel="stylesheet" type="text/css" data-turbo-track="reload" href="<%= absolute_url('styles/index.css') %>">
    <noscript>
      <link rel="stylesheet" data-turbo-track="reload" type="text/css" href="<%= absolute_url('styles/syntax.css') %>">
    </noscript>
    <script type="module" data-turbo-track="reload" src="<%= absolute_url 'scripts/index.js' %>"></script>
  </head>
  <body class="flex flex-col min-h-screen w-full antialiased <%= class_map "debug-screens": Bridgetown.env.development? %>">
    <a href="#main" class="sr-only">skip to main content</a>
    <%= render "nav", links: site.data.links.select { |l| l if l.nav } %>
    <main class="flex-1 w-full px-4 mt-16" role="main" id="main">
      <%= yield %>
      <%= render "newsletter" %>
    </main>
    <%= render "footer" %>
    <script data-turbo="false">
      (function() {
          var cssFa = document.createElement('link');
          cssFa.href = '<%= absolute_url "styles/syntax.css" %>';
          cssFa.rel = 'stylesheet';
          cssFa.type = 'text/css';
          document.getElementsByTagName('head')[0].appendChild(cssFa);
      })();
    </script>
  </body>
</html>
