---<%
{
  colors: "bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-50"
}
%>---
<!DOCTYPE html>
<html lang="en" class="h-full" data-env="<%= Bridgetown.env %>">
  <%= render "head" %>
  <body class="h-full font-sans <%= layout.data.colors %> <%= class_map "debug-screens": Bridgetown.env.development? %>">
    <%= render "nav" %>
    <div class="flex flex-col min-h-full mt-16">
    <%= render Alert.new(level: site.metadata.alert.level).with_content(site.metadata.alert.message) if site.metadata.alert.level %>
    <%= render Alert.new(level: :info).with_content("Layout: #{resource.data&.layout&.to_s}") if Bridgetown.env.development? %>
      <main class="flex flex-col px-4 mt-12 grow">
        <%= content %>
      </main>
      <%= render "footer" %>
    </div>
  </body>
</html>
