---
html_classes: "h-full selection:bg-[#7654ff] selection:text-radix-violet12"
body_classes: "antialiased bg-radix-slate1 text-radix-slate11"
---

<!DOCTYPE html>
<html
  lang="<%= site.locale %>"
  class="<%= layout.data.html_classes %>"
  x-data
  :class="$store.darkMode.on && 'dark'"
>
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body
    class="
      <%= layout.data.body_classes %>
      <%= class_map("debug-screens": Bridgetown.env.development?) %>
    "
  >

    <div
      class="grid grid-rows-[auto_1fr_auto] min-h-screen"
      x-data
      x-bind:x-on:turbolinks:load="console.log('Turbolinks load event fired')"
      x-bind:x-on:turbolinks:visit="console.log('Turbolinks visit event fired')"
      x-bind:x-on:alpine:initialized="console.log('Alpine initialized')"
    >
      <%= render "nav" %>
      <main class="py-12 lg:pt-24 min-w-0"><%= yield %></main>
      <%= render "footer", metadata: site.metadata %>
    </div>
  </body>
</html>
