---<%
{ layout: :default }
%>---
<%= render Container.new(as: :article) do %>
  <%= render Stack.new do %>
    <%= render Link.new(href: "/posts/", classes: "mb-4").with_content(render Secondary.new.with_content("← Back")) if resource.collection.label == "posts" %>
    <%= render Link.new(href: "/cfps/", classes: "mb-4").with_content(render Secondary.new.with_content("← Back")) if resource.collection.label == "cfps" %>
    <%= render Heading.new(classes: "break-words").with_content(resource.data.title) %>
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <%= render Image.new(src: "/assets/images/main-avatar.png", alt: site.metadata.author.name, classes: "h-8 w-8 rounded-full", width: 64, height: 64) %>
      </div>
      <div class="ml-4">
        <%= render Heading.new(level: 4, as: :h2).with_content(site.metadata.author.name) %>
        <p class="text-sm text-skin-muted">
          Published <%= date_to_string resource.data.date, "ordinal", "US" %>
        </p>
      </div>
    </div>
  <% end %>
  <%= render Divider.new(variant: :colorful) %>
  <%= render ContentBlock.new.with_content(content) %>
  <%= render Divider.new(variant: :colorful) %>
  <% if resource.collection.label == "posts" %>
    <%= render ContentBlock.new do %>
      <p class="italic">Thanks for reading! You can discuss this post using one of the links below. Additionally, it would mean a lot if you shared this post with others!</p>
      <ul>
        <li><%= render Link.new(href: twitter_share_url(resource), classes: "after:content-['_↗']").with_content("Share on Twitter") %></li>
        <li><%= render Link.new(href: twitter_discuss_url(resource), classes: "after:content-['_↗']").with_content("Discuss on Twitter") %></li>
        <li><%= render Link.new(href: "/ama/", classes: "after:content-['_↗']").with_content("Discuss on GitHub") %></li>
      </ul>
    <% end %>
    <div class="pt-8">
      <%= render Heading.new(level: 2).with_content("Recent Posts") %>
      <%= render Stack.new do %>
        <%= render "recent_posts", amount: 2 %>
      <% end %>
    </div>
  <% end %>
<% end %>
