---<%
{ layout: :default }
%>---
<%= render Container.new(as: :article) do %>
  <%= render Stack.new do %>
    <%= render Link.new(href: "/posts/", classes: "mb-8").with_content(render Secondary.new.with_content("â† Back")) if resource.collection.label == "posts" %>
    <%= render Heading.new(classes: "break-words").with_content(resource.data.title) %>
    <div class="flex flex-wrap items-center space-x-1 sm:space-x-4 text-zinc-700 dark:text-zinc-300">
      <%= render Link.new(href: site.metadata.twitter.url, classes: "flex items-center align-middle", weight: "font-medium", hover: "hover:text-sky-500 dark:hover:text-pink-500") do %>
        <%#= render Image.new(src: "/assets/images/main-avatar.png", classes: "w-6 h-6 rounded-full mr-4", width: 24, height: 24) %>
        <%= render Text.new(small: true).with_content(render Secondary.new(class: "h-full").with_content("#{site.metadata.twitter.username}")) %>
      <% end %>
      <span class="inline-block">&mdash;</span>
      <%= render Text.new(small: true).with_content(render Secondary.new().with_content("Published #{resource.data.date.strftime("%Y-%m-%d")}")) %>
      <span class="inline-block">&mdash;</span>
      <%= render Text.new(small: true).with_content(render Secondary.new().with_content("#{reading_time resource.content} min read")) %>
    </div>
  <% end %>

  <%= render Divider.new(variant: :colorful) %>
  <%= render ContentBlock.new.with_content(content) %>
  <%= render Divider.new(variant: :colorful) %>

  <div class="flex items-end justify-between gap-4 mt-4 not-prose">
      <%= render Heading.new(level: 2).with_content("Recent Posts") %>
      <%= render Link.new(button: true, href: "/posts/").with_content("View All") %>
    </div>
  <%= render Stack.new(classes: "bg-zinc-800 mt-4 px-4 pb-4") do %>
    <%= render "recent_posts", amount: 2 %>
  <% end %>
<% end %>
