---<%
{ layout: :default }
%>---
<%= render Container.new(as: :article, class: "space-y-12") do %>
  <%= render Stack.new do %>
    <div class="flex items-center pb-2 text-zinc-700 dark:text-zinc-300">
      <%= render Link.new(href: site.metadata.twitter.url, classes: "flex items-center align-middle", weight: "font-medium", hover: "hover:text-sky-500 dark:hover:text-pink-500") do %>
        <%= render Image.new(src: site.metadata.author.picture, classes: "w-6 h-6 rounded-full mr-4") %>
        <%= render Text.new.with_content(render Secondary.new(class: "h-full").with_content("#{site.metadata.twitter.username}")) %>
      <% end %>
    </div>
    <%= render Heading.new(classes: "break-words").with_content(resource.data.title) %>
  <% end %>

  <%= render Divider.new(variant: :colorful) %>
  <%= render ContentBlock.new.with_content(content) %>
  <%= render Divider.new(variant: :colorful) %>

  <%= render Stack.new do %>

    <dl class="grid grid-cols-2 ">
    <% details = [
        ['Reading Time', "#{reading_time(resource.content)} min read"],
        ['Word Count', "#{number_of_words(resource.content)} words"],
        ['Published On', date_to_string(resource.data.date, "ordinal", "US")],
        ['Updated On', date_to_string(resource.data.last_modified_at, "ordinal", "US")],
        ['Discuss', render(Link.new(href: twitter_discuss_url(resource)).with_content("on Twitter↗"))],
        ['Questions', render(Link.new(href: "/ama/").with_content("on GitHub Discussions↗"))],
      ] %>
      <%# details << ['Next', render(Link.new(href: resource.next_resource.relative_url).with_content(resource.next_resource&.data&.title || '→'))] if resource.next_resource && resource.next_resource.collection.label == "posts" %>
      <%# details << ['Previous', render(Link.new(href: resource.previous_resource.relative_url).with_content(resource.previous_resource&.data&.title || '→'))] if resource.previous_resource && resource.previous_resource.collection.label == "posts" %>
      <% details.reverse.each do |label, value| %>
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-2">
          <dt class="text-sm text-zinc-500">
            <%= label %>
          </dt>
          <dd class="mt-1 text-sm text-zinc-900 dark:text-zinc-50 sm:mt-0 sm:col-span-2">
            <%= value %>
          </dd>
        </div>
      <% end %>
    </dl>
  <% end %>
<% end %>
