---<%
{ layout: :default }
%>---
<%= render Container.new(as: :article) do %>
  <%= render Stack.new do %>
    <%= render Link.new(href: "/posts/", classes: "mb-8").with_content(render Secondary.new.with_content("<- Back")) %>
    <%= render Heading.new(classes: "break-words").with_content(resource.data.title) %>
    <div class="flex items-center space-x-4 text-zinc-700 dark:text-zinc-300">
      <%= render Link.new(href: site.metadata.twitter.url, classes: "flex items-center align-middle", weight: "font-medium", hover: "hover:text-sky-500 dark:hover:text-pink-500") do %>
        <%= render Image.new(src: site.metadata.author.picture, classes: "w-6 h-6 rounded-full mr-4") %>
        <%= render Text.new(small: true).with_content(render Secondary.new(class: "h-full").with_content("#{site.metadata.twitter.username}")) %>
      <% end %>
      <span class="inline-block">&mdash;</span>
      <%= render Text.new(small: true).with_content(render Secondary.new().with_content("Published #{resource.data.date.strftime("%Y-%m-%d")}")) %>
      <span class="inline-block">&mdash;</span>
      <%= render Text.new(small: true).with_content(render Secondary.new().with_content("#{reading_time resource.content} min read")) %>
    </div>
  <% end %>

  <%= render Divider.new(variant: :colorful) %>
  <%= render ContentBlock.new.with_content(content) %>
  <%= render Divider.new(variant: :colorful) %>

  <div class="flex items-end justify-between gap-4 mt-4 not-prose">
      <%= render Heading.new(level: 2).with_content("Recent Posts") %>
      <%= render Link.new(button: true, href: "/posts/").with_content("View All") %>
    </div>
  <%= render Stack.new(classes: "bg-zinc-800 mt-4 px-4 pb-4") do %>

    <%= render "recent_posts", amount: 2 %>
  <% end %>
       <div class="mt-10">
        <dl class="grid grid-cols-2 gap-x-4 gap-y-8">
          <div class="pt-6 border-t-2 border-gray-100">
            <dt class="text-base font-medium text-gray-500">Founded</dt>
            <dd class="text-3xl font-extrabold tracking-tight text-gray-900">2021</dd>
          </div>

          <div class="pt-6 border-t-2 border-gray-100">
            <dt class="text-base font-medium text-gray-500">Employees</dt>
            <dd class="text-3xl font-extrabold tracking-tight text-gray-900">5</dd>
          </div>

          <div class="pt-6 border-t-2 border-gray-100">
            <dt class="text-base font-medium text-gray-500">Beta Users</dt>
            <dd class="text-3xl font-extrabold tracking-tight text-gray-900">521</dd>
          </div>

          <div class="pt-6 border-t-2 border-gray-100">
            <dt class="text-base font-medium text-gray-500">Raised</dt>
            <dd class="text-3xl font-extrabold tracking-tight text-gray-900">$25M</dd>
          </div>
        </dl>
        <div class="mt-10">
          <a href="#" class="text-base font-medium text-indigo-600"> Learn more about how we're changing the world <span aria-hidden="true">&rarr;</span> </a>
        </div>
      </div>
<% end %>
