---
name: Link List
variables:
  resources:
    - string
  title:
    - string
---
<div class="inline-block col-span-1 prose sm:prose-lg max-w-auto">
  <h2 class="mt-0 md:mt-6">
    {{ title }}
  </h2>
  <ul>
    {% for resource in resources %}
      <li>
        {%- if resource.internal -%}
          <a href="{{ resource.url }}">{{ resource.name }}</a>
        {%- else -%}
          <a href="{{ resource.url }}" target="_blank" rel="noreferrer noopener">{{ resource.name }}</a>
        {%- endif -%}
      </li>
    {% endfor %}
  </ul>
</div>
