---
name: post list
description: some posts
variables:
  posts: object
---

<div class="flex mb-6 md:mb-6 timeline-item">
    <div class="flex flex-col items-center">
      <div class="flex justify-center p-3.5 rounded-full align-center border-4 border-gray-50 dark:border-gray-1000 bg-{{ color }} bg-opacity-20">
        {{ emoji }}
      </div>
      <div class="flex-1 w-px -mb-6 bg-gray-200 md:-mb-6 dark:bg-gray-800 timeline-stroke"></div>
    </div>
    <div class="flex flex-col flex-1 ml-4 space-y-4">
      <div class="flex flex-col pt-1 contents-center">
        <span class="flex items-center space-x-2">
          <a href="{{ project.url }}" rel="noopener noreferrer" target="_blank">
            <span class="text-blue-600 dark:text-blue-500">{{ project.name }}</span>
          </a>
        </span>
      </div>
      <div class="flex flex-col space-y-4 timeline-full-width"><div class="-mt-2 prose timeline-inset prose-md"><p>
        {{ project.description }}
      </p></div></div>
    </div>
  </div>
