---
name: Content
variables:
  emoji:
    - string
  title:
    - string
  tags:
    - array
  links:
    - content
  prose:
    - boolean
  list:
    - content
---
<div class="content-container">
  {%- if tags -%}
    <div class="flex flex-row space-x-1">
      {%- for tag in tags -%}
        {% render "_v2/tag", tag: tag %}
      {%- endfor -%}
    </div>
  {%- endif -%}
  <div class="prose lg:prose-xl">
    <h1>
      <span class="block pb-4">
        {{ emoji }}
      </span>
      {{ title }}
    </h1>
  </div>
  {%- if links -%}
  <ul class="flex flex-col items-start mt-3 text-sm">
    {{ links }}
  </ul>
  {%- endif -%}
</div>
<div class="container px-6 mx-auto">
  {%- if list -%}
  <ul class="divide-y divide-gray-200">
    {{ list }}
  </ul>
  {%- endif -%}
  <div class="{% class_map content: prose %}">
    {{ content }}
  </div>
</div>
