---
name: List
description: A list component
variables:
  title: string
  url: string
  icon: object
  external: boolean
---
{%- assign rel = "" -%}
{%- if external -%}{%- assign rel = "noopener" -%}{%- endif -%}
{%- assign target = "_self" -%}
{%- if external -%}{%- assign target = "_blank" -%}{%- endif -%}
<li>
  <a href="{{ url }}" class="block hover:bg-gray-50" rel="{{ rel }}" target="{{ target }}">
    <div class="flex items-center py-4">
      <div class="flex-1 min-w-0">
        {{title}}
      </div>
      {%- if icon -%}
      <div class="flex-shrink-0 ml-5">
        {{ icon }}
      </div>
      {%- elsif external -%}
      <div class="flex-shrink-0 ml-5">
        {% svg images/icon/arrow_up_right.svg class="w-5 h-5 text-gray-400" %}
      </div>
      {%- endif -%}
    </div>
  </a>
</li>
