---
permalink: /feed.xml
layout: none
no_index: true
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title type="html"><%= xml_escape site.metadata.title %></title>
  <subtitle><%= xml_escape site.metadata.description %></subtitle>
  <link href="<%= xml_escape absolute_url("feed.xml") %>" rel="self" type="application/atom+xml" />
  <link href="<%= xml_escape absolute_url("/") %>" rel="alternate" type="text/html" />
  <updated><%= date_to_xmlschema site.collections.posts.resources.first.data.lastmod %></updated>
  <id><%= xml_escape absolute_url("feed.xml") %></id>
  <author>
    <name>Andrew Mason</name>
  </author>
  <% site.collections.posts.resources.each do |post| %>
    <entry>
      <title type="html"><%= xml_escape post.data.title %></title>
      <link
        href="<%= xml_escape absolute_url(page.relative_url) %>"
        rel="alternate"
        type="text/html"
        title="<%= xml_escape post.data.title %>"
      />
      <published_at><%= date_to_xmlschema post.data.published_at %></published_at>
      <% if post.data.lastmod %>
      <updated><%= date_to_xmlschema post.data.lastmod %></updated>
      <% end %>
      <id><%= xml_escape absolute_url(post.relative_url) %></id>
      <content
        type="html"
        xml:base="<%= xml_escape absolute_url(post.relative_url) %>"
      ><%= xml_escape post.content %></content>
    </entry>
  <% end %>
</feed>
