<footer class="bg-radix-slate2 mt-16 py-8" x-data aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <%= render Container::Inner.new do %>
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8 xl:col-span-1">
        <%= render Text.new(size: :sm, class_name: "") do %>
          Built at:
          <%= render TimeComponent.new(date: site.time, format: :iso) %>
        <% end %>
        <% if post?(resource) || project?(resource) %>
          <%= render Text.new(size: :sm, class_name: "border-t border-radix-slate6 sm:border-transparent pt-4") do %>
            Code highlighting provided by
            <%= render Link.new(href: "https://torchlight.dev/", variant: :strong).with_content("Torchlight.") %>
          <% end %>
        <% end %>
      </div>
      <div class="mt-12 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <%= render Title.new(as: :h3, size: :sm, color: :muted).with_content("Pages") %>
            <ul role="list" class="mt-4 space-y-4">
              <% site.metadata.nav.footer.pages.each do |item| %>
                <li>
                  <%= render Link.new(href: item.href, variant: :strong).with_content(item.title) %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <%= render Title.new(as: :h3, size: :sm, color: :muted).with_content("Resources") %>
            <ul role="list" class="mt-4 space-y-4">
              <% site.metadata.nav.footer.resources.each do |item| %>
                <li>
                  <%= render Link.new(href: item.href, variant: :strong).with_content(item.title) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <%= render Title.new(as: :h3, size: :sm, color: :muted).with_content("Categories") %>
            <ul role="list" class="mt-4 space-y-4">
              <% site.metadata.nav.footer.categories.each do |item| %>
                <li>
                  <%= render Link.new(href: item.href, variant: :strong).with_content(item.title) %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <%= render Title.new(as: :h3, size: :sm, color: :muted).with_content("Meta") %>
            <ul role="list" class="mt-4 space-y-4">
              <% site.metadata.nav.footer.meta.each do |item| %>
                <li>
                  <%= render Link.new(href: item.href, variant: :strong).with_content(item.title) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 border-t slate-border pt-8">
      <%= render Text.new(size: :sm) do %>
        &copy;
        <span x-text="$year">2022</span>
        <%= site.metadata.author.name %>. All rights reserved. Except as otherwise noted, the content of this
        page is licensed under the
        <%= render Link.new(href: "https://creativecommons.org/licenses/by/4.0/", variant: :strong).with_content("CC BY 4.0") %>
        , and code samples are licensed under the
        <%= render Link.new(href: "https://github.com/andrewmcodes/andrewm-codes-website/blob/main/LICENSE.md", variant: :strong).with_content("MIT License.") %>
      <% end %>
    </div>
  <% end %>
</footer>
