<% title = resource.data.title || site.metadata.title %>
<% title_with_tagline = title + site.metadata.tagline %>
<% title_with_tagline = "🔥 #{title_with_tagline}" if Bridgetown.env.development? %>
<% description = resource.data.description || site.metadata.description %>
<% url = absolute_url resource.relative_url %>
<% article_layout = resource.respond_to?(:layout) && (resource.layout.label == "article" || resource.layout.label == "post") %>
<% cover = resource.respond_to?(:image) ? resource.image : og_image(url: url) %>
<% type = article_layout ? "article" : "website" %>

<head>
  <meta charset="<%= site.metadata.charset %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta name="theme-color" content="<%= site.metadata.theme_color.light %>" media="(prefers-color-scheme: light)" />
  <meta name="theme-color" content="<%= site.metadata.theme_color.dark %>" media="(prefers-color-scheme: dark)" />
  <title><%= title_with_tagline %></title>
  <meta name="description" content="<%= description %>">
  <%= render "preloads" %>
  <%= render "scripts/dark_mode" %>
  <%# Open Graph %>
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:type" content="<%= type %>">
  <meta property="og:image" content="<%= cover %>"/>
  <meta property="og:image:alt" content="<%= resource.data.image_alt || description %>">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:site_name" content="<%= site.metadata.title %>">
  <%# Twitter %>
  <%= feed_meta %>
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:card" content="<%= site.metadata.twitter.card %>">
  <meta name="twitter:site" content="<%= site.metadata.twitter.username %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:image" content="<%= cover %>">
  <meta name="twitter:creator" content="<%= site.metadata.twitter.username %>">
  <meta name="twitter:dnt" content="on">
  <% if resource.data.no_index %>
    <meta name="robots" content="noindex"/>
  <% end %>
  <meta name="author" content="<%= site.metadata.name %>">
  <meta content="Bridgetown" name="generator">
  <meta name="referrer" content="no-referrer-when-downgrade">
  <link rel="stylesheet" href="<%= webpack_path :css %>" data-turbo-track="reload" />
  <script src="<%= webpack_path :js %>" defer data-turbo-track="reload"></script>
  <%= live_reload_dev_js %>
  <script defer src="https://unpkg.com/alpinejs@3.8.1/dist/cdn.min.js"></script>
  <%# Links %>
  <link rel="icon" type="image/svg+xml" href="<%= absolute_url "/assets/icons/favicon.svg" %>">
  <link rel="icon" type="image/png" href="<%= absolute_url "/assets/images/favicon.png" %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= absolute_url "assets/images/apple-touch-icon.png" %>">
  <link rel="manifest" href="<%= absolute_url "/site.webmanifest" %>">
  <link rel="mask-icon" href="<%= absolute_url "/assets/icons/safari-pinned-tab.svg" %>" color="#007aff">
  <meta name="msapplication-TileColor" content="<%= site.metadata.theme_color.light %>">
  <meta name="theme-color" content="<%= site.metadata.theme_color.light %>">
  <link href="<%= url %>" rel="canonical">
  <%# Webmentions %>
  <link rel="webmention" href="https://webmention.io/<%= site.metadata.domain %>/webmention" />
  <link rel="pingback" href="https://webmention.io/<%= site.metadata.domain %>/xmlrpc" />
  <%# Stylesheets %>
  <link rel="alternate" href="<%= absolute_url 'feed.xml' %>" type="application/atom+xml" title="<%= site.metadata.title %>">
  <link rel="me" href="https://andrewm.codes" type="text/html">
  <link rel="me" href="https://github.com/andrewmcodes">
  <link rel="me" href="https://twitter.com/andrewmcodes">
  <%# JSON-LD %>
  <% if article_layout %>
    <%= render "scripts/json_ld",
        title: title,
        description: description,
        url: url,
        date: (resource.data.date || DateTime.current),
        last_modified_at: (resource.data.last_modified_at || DateTime.current) %>
    <meta property="article:published_time" content="<%= resource.data.date || DateTime.current %>" />
  <% end %>
  <%# Analytics %>
  <%= plausible %>
</head>
