<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title><%= title page %></title>
<%# Preloads in Production %>
<% unless Bridgetown.env.development? %>
  <link rel="preconnect" href="/" crossorigin>
  <link rel="preload" as="style" crossorigin href="<%= absolute_url 'styles/index.css' %>">
  <link rel="preload" as="font" crossorigin href="<%= absolute_url 'fonts/Inter.var.woff2' %>">
  <link rel="preload" as="font" crossorigin href="<%= absolute_url 'fonts/JetBrainsMono-Regular.woff2' %>">
<% end %>
<meta name="theme-color" content="<%= site.metadata.theme_color %>">
<meta name="title" content="<%= title page %>">
<meta name="description" content="<%= description page %>">
<meta name="generator" content="Bridgetown">
<meta name="referrer" content="no-referrer-when-downgrade">
<meta name="author" content="Andrew Mason">
<%# Open Graph %>
<meta property="og:type" content="website">
<meta property="og:url" content="<%= absolute_url '/' %>">
<meta property="og:title" content="<%= title page %>">
<meta property="og:description" content="<%= description page %>">
<meta property="og:image" content="<%= absolute_url page.data.image %>">
<%# Twitter %>
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="<%= absolute_url page.url %>">
<meta property="twitter:title" content="<%= title page %>">
<meta property="twitter:description" content="<%= description page %>">
<meta property="twitter:image" content="<%= absolute_url page.data.image %>">
<meta name="twitter:card" content="summary_large_image" >
<meta name="twitter:creator" content="@<%= site.metadata.twitter.username %>">
<meta name="twitter:site" content="@<%= site.metadata.twitter.username %>">
<%# Links %>
<link rel="canonical" href="<%= absolute_url page.url %>">
<link rel="webmention" href="https://webmention.io/andrewm.codes/webmention" />
<link rel="pingback" href="https://webmention.io/andrewm.codes/xmlrpc" />
<link rel="alternate" href="<%= absolute_url('feed.xml') %>" type="application/atom+xml" title="<%= site.metadata.title %>">
<%= plausible %>
<%# Icons %>
<link rel="icon" href="<%= absolute_url 'favicon.ico' %>">
<link rel="icon" href="<%= absolute_url 'icon.svg' %>" type="image/svg+xml">
<link rel="apple-touch-icon" href="<%= absolute_url 'apple-touch-icon.png' %>">
<link rel="manifest" href="<%= absolute_url 'manifest.json' %>">
