<meta charset="<%= site.metadata.charset %>" />
<meta name="viewport" content="<%= site.metadata.viewport %>" />
<link rel="preconnect" href="https://res.cloudinary.com" />
<% data.preconnect_urls && data.preconnect_urls.each do |href| %>
  <link rel="preconnect" href="<%= href %>" />
<% end %>
<title><%= build_title(resource) %></title>
<style>
  @font-face { font-family: "Inter"; font-display: swap; src: url("<%= asset_path 'fonts/optimized/inter-v12-latin-regular.woff2' %>") format("woff2");}
  body { font-family: "Inter"; }
  [x-cloak] { display: none !important; }
</style>
<%= render Seo.new(resource: resource, title: build_title(resource)) %>
<%= feed_meta %>
<script src="<%= webpack_path :js %>" defer data-turbo-track="reload"></script>
<%= live_reload_dev_js if Bridgetown.env.development? %>
