<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-zinc-100 dark:bg-zinc-800" x-data="{
      open: false,
      get isOpen() { return this.open },
      toggle() { this.open = ! this.open },
    }">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex items-center mr-2 -ml-2 md:hidden">
          <button @click="toggle" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-zinc-400 hover:text-white hover:bg-zinc-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <%= svg "/assets/svg/menu.svg", classes: "block w-6 h-6", "x-show": "!isOpen" %>
            <%= svg "/assets/svg/x.svg", classes: "hidden w-6 h-6", "x-show": "isOpen", "x-cloak": "true" %>
          </button>
        </div>
        <div
          class="hidden md:ml-6 md:flex md:items-center md:space-x-4">
          <!-- Current: "bg-zinc-900 text-white", Default: "text-zinc-300 hover:bg-zinc-700 hover:text-white" -->
          <% site.data.navigation.navbar.each do |nav| %>
            <%= render Link.new(href: nav.url, classes: "px-3 py-2 text-sm font-medium text-white rounded-md bg-zinc-900", key: nav.title).with_content(nav.title) %>
          <% end %>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <button x-data="{
                            toggleDarkMode: () => {
                                if (localStorage.theme === 'dark') {
                                    localStorage.theme = 'light';
                                    document.documentElement.classList.remove('dark');
                                } else {
                                    localStorage.theme = 'dark';
                                    document.documentElement.classList.add('dark');
                                }
                            },
                        }"
                    @click="toggleDarkMode"
                    aria-label="Toggle Darkmode"
                    type="button"
                    class="relative inline-flex items-center px-1.5 py-1.5 text-sm font-medium text-white bg-zinc-700 border border-transparent rounded-md shadow-sm hover:bg-zinc-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-zinc-800 focus:ring-sky-500">
            <%= svg "/assets/theme.svg", class: "w-5 h-5", width: 20, height: 20
            %>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div x-cloak class="md:hidden" id="mobile-menu" x-show="isOpen">
    <div
      class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <!-- Current: "bg-zinc-900 text-white", Default: "text-zinc-300 hover:bg-zinc-700 hover:text-white" -->
      <% site.data.navigation.navbar.each do |nav| %>
        <%= render Link.new(
              href: nav.url,
              classes: "block px-3 py-2 text-base font-medium rounded-md text-zinc-300 hover:bg-zinc-700 hover:text-white",
              key: nav.title
            ).with_content(nav.title) %>
      <% end %>
    </div>
  </div>
</nav>
