<header x-data class="z-50 flex flex-col <%= class_map("border-b slate-border": !home?(resource)) %>" >
  <div class="top-0 z-10 pt-6 pb-4">
    <%= render Container.new(class_name: "w-full") do %>
      <div class="flex gap-4 items-center">
        <div class="flex flex-1">
          <% if !home?(resource) %>
            <%= render Avatar.new %>
          <% end %>
        </div>
        <div class="sm:flex-1 sm:justify-end sm:space-x-2 hidden sm:flex">
         <% site.metadata.nav.desktop.each do |data| %>
            <%= render Button.new(variant: :text, href: data.href, class_name: "") do |c| %>
              <% c.with_text.with_content(data.title) %>
            <% end %>
          <% end %>
          <%= render Button.new(variant: :text, href: "/posts/", class_name: "", "data-turbo-preload": true ) do |c| %>
            <% c.with_text.with_content("Posts") %>
          <% end %>
        </div>
        <%= render Stack.new(direction: :row, justify: :end, class_name: "bg-radix-slate3 rounded-md") do %>
          <%= render Button.new(variant: :default, href: "https://twitter.com/andrewmcodes", class_name: "h-10") do |c| %>
            <%= render Icon.new(name: :twitter, class_name: "") %>
          <% end %>
          <div class="pointer-events-auto" data-turbo-permanent>
            <%= render Button.new(variant: :default, type: :button, "aria-label": "Toggle dark mode", "@click": "$store.darkMode.toggle()", class_name: "h-10") do |c| %>
              <%= render Icon.new(name: :sun, class_name: "transition group-hover:text-radix-slate11 dark:hidden") %>
              <%= render Icon.new(name: :moon, class_name: "hidden transition dark:block") %>
            <% end %>
          </div>
        <% end %>

          <div x-data x-popover class="relative visible sm:invisible">
            <%= render Button.new(variant: :default, "x-popover:button": true, type: :button) do |c| %>
              <% c.with_text.with_content("Menu") %>
              <% c.with_trailing_icon(name: :menu) %>
            <% end %>

            <%= render Dropdown.new(position: :right) do |c| %>
              <% site.metadata.nav.mobile.each do |data| %>
                <% c.with_item(title: data.title, href: data.href) %>
              <% end %>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
</header>
