<a class="card-media" href="<%= podcast.url || "#" %>" target="_blank" rel="nooopener noreferrer">
  <card-img>
    <img alt="<%= podcast.name %> icon" src="<%= podcast.image.url %>" class="w-20 h-20">
  </card-img>
  <card-body>
    <card-title><%= podcast.name %></card-title>
    <% if podcast.description %>
      <card-content><%= podcast.description %></card-content>
    <% end %>
    <card-footer>
      <% if !podcast.active %>
        <%= render BadgeComponent.new(title: "Archived") %>
      <% elsif podcast.name == "Remote Ruby" %>
        <%= render BadgeComponent.new(title: "Host", tone: "promote") %>
      <% elsif podcast.name == "Ruby Rogues" %>
        <%= render BadgeComponent.new(title: "Former Host") %>
      <% else %>
        <%= render BadgeComponent.new(title: "Guest") %>
      <% end %>
    </card-footer>
  </card-body>
</a>
