
<div class="flex flex-col space-y-4">
  <%= render Heading.new(classes: "break-words").with_content(resource.data.title) %>

  <div class="flex flex-wrap items-center justify-between -mt-4 -ml-4 sm:flex-nowrap">
    <div class="mt-4 ml-4">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= render Image.new(src: site.data.authors.andrew.picture, alt: site.data.authors.andrew.name, classes: "h-8 w-8 rounded-full", width: 64, height: 64) %>
        </div>
        <div class="ml-4">
          <%= render Heading.new(level: 4, as: :h2).with_content(site.data.authors.andrew.name) %>
          <p class="text-sm text-skin-muted">
            Updated <%= date_to_string resource.data.lastmod, "ordinal", "US" %>
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-shrink-0 mt-4 ml-4">
      <a href="<%= twitter_share_url(resource) %>" class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium border rounded-md shadow-sm border-skin-divider text-skin-inverted bg-skin-primary hover:bg-skin-primary-light focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        <%= svg "/assets/twitter.svg", class: "w-4 h-4 -ml-1 mr-2" %>
        <span>Share</span>
      </a>
    </div>
  </div>
</div>
