<a class="card-media" href="<%= project.url || "#" %>" target="_blank" rel="nooopener noreferrer">
  <card-img>
    <% if project.image %>
      <img alt="<%= project.name %> icon" src="<%= project.image.formats.thumbnail.url.to_s %>" class="w-16 h-16">
    <% else %>
      <card-svg class="text-gray-200 bg-gray-900"><%= render "svg/github.svg" %></card-svg>
    <% end %>
  </card-img>
  <card-body>
    <card-title><%= project.name %></card-title>
    <% if project.description %>
      <card-content>
        <%= project.description %>
      </card-content>
    <% end %>
  </card-body>
</a>
