<li class="relative p-4 not-prose bg-zinc-50 dark:bg-zinc-900 hover:bg-zinc-100 dark:hover:bg-zinc-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-zinc-500">
  <%= render Columns.new(spacing: "") do %>
    <%= render Link.new(href: href) do %>
      <span class="absolute inset-0" aria-hidden="true"></span>
      <%= title %>
      <%= subtitle %>
    <% end %>
  <% end %>
  <% if description %>
    <div class="mt-1">
      <p class="text-sm text-zinc-600 line-clamp-2">
        <%= description %>
      </p>
    </div>
  <% end %>
</li>
