<article class="<%= row_classes %>">
  <div>
    <%= render Text.new(as: :div, variant: :meta, class: "mb-1") do %><%= date_str %><% end %>
    <%= render Text.new(as: :div, variant: :meta) do %><%= duration_str %><% end %>
  </div>
  <div>
    <%= render Text.new(as: :div, variant: :meta, class: "mb-2 lowercase") do %><%= show_label %><% end %>
    <%= render Text.new(as: :h3, variant: :row_title, class: "mb-1") do %><%= title %><% end %>
    <%= render Text.new(variant: :card_body, class: "mb-3") do %><%= excerpt %><% end %>
    <div class="flex flex-wrap gap-3.5">
      <%= render Link.new(href: url, external: true, class: resource_link_classes) do %>listen →<% end %>
    </div>
  </div>
</article>
