---
name: name
description: description
variables:
  target?: string
  rel?: string
  href?: string
  external?: boolean
  content?: markdown
  text?: string
---

{%- if external -%}
  {%- assign target = "_blank" -%}{%- assign rel = "noopener noreferrer" -%}
{%- endif -%}
<a class="{{ klass }}" href="{{ href | default: '/' }}" target="{{ target | default: '_self' }}" rel="{{ rel | default: '' }}">
  {%- if text -%}
    {{ text }}
  {%- else -%}
    {{ content }}
  {%- endif -%}
</a>
