<nav aria-label="Related posts" class="mt-10 pt-7 border-t border-sage-5">
  <%= render Text.new(as: :h2, variant: :eyebrow, class: "mb-3") do %>Related posts<% end %>
  <%= render Stack.new(as: :ul, gap: :none) do %>
    <% posts.each do |post| %>
      <li>
        <%= render Link.new(href: post.relative_url, class: link_classes) do %>
          <span class="text-sage-9 whitespace-nowrap"><%= post.date.strftime("%b %Y") %></span>
          <span class="<%= title_classes %>"><%= post.data.title %></span>
        <% end %>
      </li>
    <% end %>
  <% end %>
</nav>
