<div class="<%= wrapper_classes %>">
  <div class="<%= title_row_classes %>">
    <%= render Text.new(as: :h2, variant: :eyebrow, class: heading_classes) do %><span aria-hidden="true" class="text-sage-8">//</span> <%= @title %><% end %>
    <% if @link_label && @link_href %>
      <%= render Link.new(href: @link_href, variant: :section_action) do %>
        <%= @link_label %>
        <%= render Icon.new(
          name: icon_name,
          class: "transition-transform group-hover:translate-x-0.5",
        ) %>
      <% end %>
    <% end %>
  </div>
  <% if @description %>
    <%= render Text.new(variant: :card_body, class: "mb-4") do %><%= @description %><% end %>
  <% end %>
</div>
