<article class="<%= row_classes %>">
  <div>
    <%= render Text.new(as: :div, variant: :meta, class: "mb-1") do %><%= date_str %><% end %>
    <%= render Text.new(as: :div, variant: :meta) do %><%= field(:duration) %><% end %>
  </div>
  <div>
    <%= render Text.new(as: :div, variant: :meta, class: "mb-2 lowercase") do %><%= venue_line %><% end %>
    <%= render Text.new(as: :h3, variant: :row_title, class: "mb-1") do %><%= field(:title) %><% end %>
    <%= render Text.new(variant: :card_body, class: "mb-3") do %><%= field(:excerpt) %><% end %>
    <div class="flex flex-wrap gap-3.5">
      <% links.each do |l| %>
        <%= render Link.new(href: l[:href], external: true, class: resource_link_classes) do %>
          <%= l[:label] %>
          <%= render Icon.new(name: "arrow_top_right") %>
        <% end %>
      <% end %>
    </div>
  </div>
</article>
